.speech {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}

.direction {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: black;
    background-color: rgb(196, 205, 255);
}

.direction:hover {
    background-color: bisque;
    color: darkslategray
}

.revenue {
    color: blue;
}

.luke {
    color: purple;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    color: red;
    background-color: bisque;
}

td, th, tr {
    border: 1px solid black;
}

td {
    padding: 5px;
}

h3:hover {
    text-shadow: 2px 2px 3px rgb(144, 144, 144);
    border: 3px dotted orange;
}